<!-- Display title -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">About</h1>
    </div>
  </div>

  <div class="container">
    <a href="#copyright"></a>
    <h2 class="text-center">Copyright</h2>
    <p>These mods are Copyright(2017) and are my intellectual property, and the property of the original creators whose work I have updated. Both minecraftforum.net, grim3212.github.io, grim3212.com are allowed to host my material. My material may not be distributed publicly through any other website without advanced written permission. Public mod packs may include my mods without seeking my permission. You are free to use my material in Let's Plays without seeking my permission.</p>
  </div>
