.bd-footer {
  padding: 3rem 0;
  margin-top: 3rem;
  font-size: 85%;
  background-color: #f7f7f7;
  text-align: left;
  p {
    margin-bottom: 0;
  }
  a {
    font-weight: 500;
    color: #55595c;
  }
}
