<p>
  If you have a sweet tooth and are craving some Chocolate then this mod should have what you need. This allows you to craft Chocolate bars and cakes to satisfy your hunger.
</p>

<h4>Cocoa Trees</h4>
<img src="https://i0.wp.com/i.imgur.com/4ZtYKK8.png" class="img-fluid">
<p>
  When you create new maps/explore, you’ll start to see Cocoa Trees. These Trees are not so rare, and not so common. When you plant a Cocoa Fruit on the ground, it’ll grow like a sapling(same conditions, etc), but into a new Cocoa Tree. You can also
  use bonemeal on it.
</p>

<h4>Chocolate Bar Mould</h4>
<img src="https://i0.wp.com/i.imgur.com/ShWtGhF.jpg" class="img-fluid">
<p>Recipe: 3 Cobblestone and 2 Smoothstone. What you use to mould and create the Chocolate Bars.</p>

<h4>Making Chocolate</h4>
<ol>
  <li>Collect cocoa fruits from cocoa trees.</li>
  <li>Make Cocoa Dust (2 Cocoa Dust = 3 Cocoa Beans):</li>
  <img src="https://i0.wp.com/i.imgur.com/E9Yj3WL.jpg" class="img-fluid"><img src="https://i0.wp.com/i.imgur.com/In6u3Wf.jpg" class="img-fluid">
  <li>Make Chocolate Milk:</li>
  <img src="https://i0.wp.com/i.imgur.com/S3gUgRf.jpg" class="img-fluid">
  Recipe: 3 Cocoa Dusts, 1 Sugar and 1 Bucket of Milk.
  <strong>The Bucket of Milk can use vanilla and any OreDictionaried as 'bucketMilk' like the
    <a routerLink="/part/tools/better_buckets">Better Buckets</a>
    in the GrimPack</strong>

  <li>Smelt Chocolate Milk into Hot Chocolate Milk:</li>
  <img src="https://i0.wp.com/i.imgur.com/xh3chI6.jpg" class="img-fluid">
</ol>

<h4>Making Chocolate Bars</h4>
<ol>
  <li>Craft a Chocolate Bar Mould</li>
  <li>Pour the bowl of hot chocolate milk into the mould and wait</li>
  <img src="https://i0.wp.com/i.imgur.com/0mzZ5mb.png" class="img-fluid">
  <li>Right-click the mould with your hands empty, and left click to get the bars</li>
  <img src="https://i0.wp.com/i.imgur.com/WwUXeD3.png" class="img-fluid">
</ol>

<h4>Chocolate Block</h4>
<img src="https://i0.wp.com/i.imgur.com/ziAm44X.jpg" class="img-fluid">
<p>
  Recipe: 9 Chocolate Bars. For storage. Can be returned to 9 bars.
</p>

<h4>Craft a Candy Wrapper</h4>
<h5>Recipe Shapeless – One Lapis Lazuli and One Piece of Paper</h5>
<img src="https://i0.wp.com/i.imgur.com/8IfTijL.jpg" class="img-fluid"><img src="https://i0.wp.com/i.imgur.com/Il96NMB.jpg" class="img-fluid">
<strong class="text-warning">Wraps not returned!</strong>

<h4>Making Chocolate Cake</h4>
<ol>
  <li>Craft two balls of chocolate.</li>
  <img src="https://i0.wp.com/i.imgur.com/rWOOcXh.jpg" class="img-fluid">
  <li>Make the cake.</li>
  <img src="https://i0.wp.com/i.imgur.com/y9CgQkw.jpg" class="img-fluid">
  Recipe: 2 Chocolate Balls, 1 Milk(bucket or bowl), 2 Sugar, 1 Egg and 3 Wheat.
  <li>Eat! Nomonnmonomnmnomnomn</li>
  <img src="https://i0.wp.com/i.imgur.com/v4RWwvV.png" class="img-fluid">
</ol>
