<p>
  Cuisine also has some items that can help you heal quickly either directly or indirectly.
</p>

<h3>Recipes:</h3>
<h4>Health Pack</h4>
<img src="http://i.imgur.com/YvePJ.png" class="img-fluid">
It restores 2.5 health.
<h4>Bandage</h4>
<img src="http://i.imgur.com/LX3Rs.png" class="img-fluid">
It restores 1.5 health.
<h4>Sweets</h4>
<img src="http://i.imgur.com/mGMtz.png" class="img-fluid">
Shapeless
You eat ‘em and they restore 1 hunger point.

<h4>Super Health Pack</h4>
<img src="http://i.imgur.com/SjE1K.png" class="img-fluid">
It restores 6 health.
<h4>Super Sugar</h4>
<img src="http://i.imgur.com/xj4en.png" class="img-fluid">
For crafting the Super Health Pack and Super Sweets.
<h4>Super Sweets</h4>
<img src="http://i.imgur.com/QtGIg.png" class="img-fluid">
It restores 3 hunger points.
