<p>
  Cuisine adds in different tpes of soda that do various things. Most restore helath but there are also a few different ones. There are currently ten flavors of soda to choose from.
</p>

<h4>Flavors:</h4>
<ul>
  <li>Mushroom! – 2.5H</li>
  <li>Cocoa! – 8H</li>
  <li>Root Beer! – 2.5H</li>
  <li>Apple! – 5H</li>
  <li>Golden Apple! – 10H</li>
  <li>Diamond! – 10H</li>
  <li>Orange – 4H</li>
  <li>Orange Cream – 4H</li>
  <li>Slurm – 1.5H</li>
</ul>

<h4>Crafting:</h4>
<p>
  You will first need the bottles, CO2, and carbonated water.
</p>

<img src="http://i.imgur.com/Yh9b8zM.jpg" class="img-fluid">
<img src="http://i.imgur.com/tfn1FWu.jpg" class="img-fluid">
<img src="http://i.imgur.com/LD7ESkI.jpg" class="img-fluid">

<p>
  Then you can start making the different flavors of soda.
</p>
<img src="http://i.imgur.com/T7wb2Ep.jpg" class="img-fluid">
<img src="http://i.imgur.com/xmgT3il.jpg" class="img-fluid">
<img src="http://i.imgur.com/pYA1qYq.jpg" class="img-fluid">
<img src="http://i.imgur.com/g1HuITV.jpg" class="img-fluid">
<img src="http://i.imgur.com/bi3MIoE.jpg" class="img-fluid">
<img src="http://i.imgur.com/aQ7iIUx.jpg" class="img-fluid">
<img src="http://i.imgur.com/XNS4aZt.jpg" class="img-fluid">
<img src="http://i.imgur.com/QMQvvS1.jpg" class="img-fluid">
<img src="http://i.imgur.com/JiCGRVw.jpg" class="img-fluid">

<p>
  And you can also make Soda that hurts whoever drinks it!
</p>
<img src="http://i.imgur.com/8HQ2WBA.jpg" class="img-fluid">
