<p>
  Cuisine adds in different tpes of soda that do various things. Most restore helath but there are also a few different ones. There are currently ten flavors of soda to choose from.
</p>

<h4>Flavors:</h4>
<ul>
  <li>Mushroom! – 2.5H</li>
  <li>Cocoa! – 8H</li>
  <li>Root Beer! – 2.5H</li>
  <li>Apple! – 5H</li>
  <li>Golden Apple! – 10H</li>
  <li>Diamond! – 10H</li>
  <li>Orange – 4H</li>
  <li>Orange Cream – 4H</li>
  <li>Slurm – 1.5H</li>
</ul>

<p>
  You will first need the bottles, CO2, and carbonated water.
</p>

<img src="http://img.mod-minecraft.net/Mods/Soda-Mod-2.jpg">
<img src="http://img.mod-minecraft.net/Mods/Soda-Mod-3.jpg">
<img src="http://img.mod-minecraft.net/Mods/Soda-Mod-4.jpg">
<img src="http://img.mod-minecraft.net/Mods/Soda-Mod-5.jpg">
