<p>
  As the name would suggest the decor part of Grim Pack adds in decorations for your Minecraft world.
</p>

<h4>Mossy Cobblestone</h4>
<p>
  This is a easy way of getting Mossy Cobblestone that can be used for colorizing your furniture.
</p>
<img src="http://i.imgur.com/EeM16nD.png" class="img-fluid">

<h4>Lanterns</h4>
<p>
  Lanterns can be placed anywhere and give off light
</p>
<p><strong>Paper Lantern:</strong></p>
<img src="http://i.imgur.com/ucH7G0d.png" class="img-fluid">
<p><strong>Bone Lantern:</strong></p>
<img src="http://i.imgur.com/EemPOOu.png" class="img-fluid">
<p><strong>Iron Lantern:</strong></p>
<img src="http://i.imgur.com/PZavUv1.png" class="img-fluid">

<h4>Decorations</h4>
<p>
  The following decorations can do special things.
</p>
<a id="clay_pot"></a>
<p><strong>Clay Pot:</strong></p>
<p>
  The clay pot can be right clicked to change the top texture and then you can plant any plant that is able to be planted on the top texture so if it is soul sand you can plant netherwart.
  Clay pot will change shape if a <a pageScroll href="#stool" [routerLink]="['/part/decor/furniture']">stool</a> is underneath them.
</p>
<img src="http://i.imgur.com/R87lYv2.png" class="img-fluid">
<img src="http://i.imgur.com/FKmcqXH.png" class="img-fluid">
<img src="http://i.imgur.com/oEGHWF3.png" class="img-fluid">
<img src="http://i.imgur.com/f1aeZdx.png" class="img-fluid">
<p><strong>Clay Decorations:</strong></p>
<p>
  Both clay decorations and bone decorations can be right clicked to chagne the texture and for decoration only.
</p>
<img src="http://i.imgur.com/jlPacFm.png" class="img-fluid">
<img src="http://i.imgur.com/x0FzEqJ.png" class="img-fluid">
<p><strong>Bone Decorations:</strong></p>
<img src="http://i.imgur.com/9b5z9Uq.png" class="img-fluid">

<h4>Miscellaneous</h4>
<p>
  Fancy Stone is only for decoration.
</p>
<p><strong>Fancy Stone:</strong></p>
<img src="http://i.imgur.com/kOgYonz.png" class="img-fluid">
<p><strong>Fancy Stone --&gt; Stone:</strong></p>
<img src="http://i.imgur.com/bHwXWsO.png" class="img-fluid">
<p><strong>Cage:</strong></p>
<p>
  Cages have a special ability of being able to put a Pokeball into them when you right click and then it will display the Entity inside.
</p>
<img src="http://i.imgur.com/MHi5VXy.png" class="img-fluid">
<img src="http://i.imgur.com/A6sOYsp.png" class="img-fluid">
<p><strong>Chain:</strong></p>
<img src="http://i.imgur.com/lOUP4qN.png" class="img-fluid">
<p><strong>Road:</strong></p>
<p>
  Roads when walked on give the played a speed boost.
</p>
<img src="http://i.imgur.com/hqNh8LL.png" class="img-fluid">
