<p>
  If you are a fan of burning things or really like different fireplaces then this has what you want.
  Decor contains many different types of fireplaces. All fireplaces are able to be burnt and some fire will appear when you use flint and steel on them.
  This fire can be put out with a punch.
</p>

<a id="burning_wood"></a>
<h4>Burning Wood</h4>
<p>
  This is a special type of wood imbued with Netherrack that allows for a nice look but also allows it to burn indefinitely. This is used in most of the recipes for Fireplaces.
</p>
<img src="http://i.imgur.com/JAJ9sag.png" class="img-fluid">
<br>

<a id="fireplace"></a>
<h4>Fireplaces</h4>
<p>
  Fireplaces can connect to each other and will also make chimneys will placed on them emit smoke.
</p>
<img src="http://i.imgur.com/U7JrBLh.png" class="img-fluid">
<img src="http://i.imgur.com/bvmsb7T.png" class="img-fluid">
<br>

<a id="chimney"></a>
<h4>Chimneys</h4>
<p>
  Chimneys will emit smoke if above a fireplace or stove. These can be stacked together to create large smoke stacks. Chimneys will only emit smoke if the fireplace is active and burning.
</p>
<img src="http://i.imgur.com/5OJc2fh.png" class="img-fluid">
<br>

<a id="firepit"></a>
<h4>Firepits</h4>
<p>
  Firepits are another fireplace that looks quite nice. There is a config option to disable the net around the firepit.
</p>
<img src="http://i.imgur.com/ZjxnMoZ.png" class="img-fluid">
<img src="http://i.imgur.com/PhOVeOC.png" class="img-fluid">
<img src="http://i.imgur.com/N4xZi08.png" class="img-fluid">
<br>

<a id="stove"></a>
<h4>Stove</h4>
<p>
  Stoves are closed off fireplaces. These look quite nice and have a nice protective cage so you don't burn yourself. These also can make smoke emit from chimneys if they are burning.
</p>
<img src="http://i.imgur.com/yUcvmof.png" class="img-fluid">
<img src="http://i.imgur.com/A7uHUWf.png" class="img-fluid">
<br>

<a id="firering"></a>
<h4>Firerings</h4>
<p>
  If you like to go camping then this can work a portable campfire.
</p>
<img src="http://i.imgur.com/PzMTLcT.png" class="img-fluid">
<img src="http://i.imgur.com/SdrpbMp.png" class="img-fluid">
<br>

<a id="grill"></a>
<h4>Grills</h4>
<p>
  Grills are a way to cook food over a fire. These can be right clicked to open a interface to add your ingredients to cook and fuel to burn. The grill is very configurable, it has options for infinite grill fuel and possible recipes can be changed via the config file as well. Depending on if you have consume blocks on or off the speed might change. If you have it true then depending on the material you use for the grill it will change the speed. If it is turned off then a flat rate for all blocks will be applied.
</p>
<img src="http://i.imgur.com/TkFGr0O.png" class="img-fluid">
<img src="http://i.imgur.com/SrNbJHZ.png" class="img-fluid">
<img src="http://i.imgur.com/vPmjfnz.png" class="img-fluid">
<br>
