<p>
  Decor also adds in many ways to make your walls more interesting and pleasing.
</p>

<br>
<a id="calendar"></a>
<h4>Calendar</h4>
<p>
  The calendar takes the time of the world and spits out the date in Gregorian format on a wall calendar.
</p>
<img src="http://dl.dropbox.com/u/6880924/Minecraft%20Mods/calendar/media/recipe.png" class="img-fluid">
<p>
  Works like a sign except you can only stick it to walls.
</p>

<br>
<a id="wall_clock"></a>
<h4>Wall Clock</h4>
<p>
  Basically it’s the everyday watch, but placed on the wall.
</p>

<img src="https://i0.wp.com/i.imgur.com/xLO9pSo.png" class="img-fluid">
<p>
  Recipe: 4 planks, 4 gold ingots and one redstone dust. OR 8 planks, already made clock at the center. You can turn the wall clock on clock again by putting it on the crafting square. It’s the wall clock!
</p>
<img class="img-fluid" src="https://i0.wp.com/i.imgur.com/mrsg7Ul.png">

<br><br>
<a id="flat_item_frame"></a>
<h4>Flat Item Frame</h4>
<p>
  The flat item frames are like the vanilla item frame except that you can put them on the ground and underneath blocks.
</p>
<img src="http://i.imgur.com/SImXIgx.png" class="img-fluid">
<img src="http://i.imgur.com/1UnivQO.png" class="img-fluid">

<br><br>
<a id="wallpaper"></a>
<h4>Wallpaper</h4>
<p>
  Wallpaper can be placed on your walls as a decorative texture. This way, you can have two different faces of a block decorated with two different texture and customize the bedrooms of your house without having to add new blocks. It is recommended to
  combine wallpaper with
  <a pageScroll [routerLink]="[]" href="#frames">Frames</a>
  for door and window frames.
</p>

<p>First, create wallpapers thanks to the following recipe:</p>
<img src="https://lh3.googleusercontent.com/-Wi7lmKG0fDo/Th3-KnITpNI/AAAAAAAAAVw/msn9yb0vF-8/2011-07-13_23.04.32.png" class="img-fluid">

<p>You can now place your wallpaper on a wall:</p>
<img src="https://lh6.googleusercontent.com/-C0GEfRTGkck/Th3-KlSqm7I/AAAAAAAAAV4/wVxfgSekIik/s1280/2011-07-13_23.06.17.png" class="img-fluid">
<p>It is possible to change the texture by right-clicking on the wallpaper while having another wallpaper in your hand.</p>
<img src="https://lh4.googleusercontent.com/-lyWUYglAVVU/Th3-GnbULFI/AAAAAAAAAVE/gC3pDersF3I/s1280/2011-07-13_23.06.27.png" class="img-fluid">
<p>When you will place another wallpaper close to an existing one, it will automatically take the same texture.</p>
<img src="https://lh6.googleusercontent.com/-cb7ZixxSJ2I/Th3-G-BRaFI/AAAAAAAAAVA/SioS2XQ6BVg/s1280/2011-07-13_23.06.36.png" class="img-fluid">
<p>You can still change a texture by right-clicking it anytime you want.</p>
<img src="https://lh4.googleusercontent.com/-Ah8KOanfiFM/Th3-HXbpcxI/AAAAAAAAAVI/q9YN2DK57jc/s1280/2011-07-13_23.06.49.png" class="img-fluid">
<p>If you have some dye, you can then color a texture by right-clicking it with dye equipped.</p>
<img src="https://lh4.googleusercontent.com/-XO-SEm-HP3Q/Th3-HQFVnmI/AAAAAAAAAVM/mMDo2Mvrh_k/s1280/2011-07-13_23.07.10.png" class="img-fluid">
<p>If you want to remove a wallpaper, you need to have the item in your hand or an axe. It is possible to combine the wallpaper with any item on the wall: Torch, Painting…</p>
<img src="https://lh5.googleusercontent.com/-j9cmrm0QSvg/Th3-ICs7VoI/AAAAAAAAAVY/HD-mEsCoYgc/s1280/2011-07-13_23.15.25.png" class="img-fluid">

<br><br>
<a id="frames"></a>
<h4>Frames</h4>
<p>
  Iron and wooden frames can be used to decorate your world with. These have to be placed on a block but you can remove the block and then they will be free standing.
</p>

<p>
  Recipe: You first have to create beams
</p>

<img class="img-fluid" src="https://lh4.googleusercontent.com/-N53yoUbfZPw/TimK1OSGnjI/AAAAAAAAAX0/FpG5QBTIjDQ/2011-07-22_17.34.13.png">
<img class="img-fluid" src="https://lh6.googleusercontent.com/-MtyAZWFC6ec/TimK1JA8U6I/AAAAAAAAAX4/6OuZ9iWbUzs/2011-07-22_17.34.03.png">

<p>
  Use:<br>
  Then you can place the frame on a wall and change it by right-clicking on it:
</p>
<img class="img-fluid" src="https://lh5.googleusercontent.com/-fu2Sm6UmFaw/ThWnPU8mJSI/AAAAAAAAATI/15sNASeHsNM/2011-07-07_15.31.41.png">
<p>To change its color, apply a dye with right-click: White dye removes any other dye!</p>
<img class="img-fluid" src="https://lh5.googleusercontent.com/-OXLHt-QvyN0/ThWnhx9swwI/AAAAAAAAATM/IPi0-7mF1n4/2011-07-07_15.32.52.png">
<p>
  To break them you have to use the correct tool i.e. pickaxe for iron, axe for wooden. Or you can break the wooden ones while holding a frame in your hand.
</p>
