/* You can add global styles to this file, and also import other style files */

body {
  /* Padding for Jumbotrons */
  padding-top: 2rem;
}

.jumbotron {
  background-color: #a4a4a4;
  background: linear-gradient(135deg, #a4a4a4, #d6d6d6);
}
